<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/sidfishus/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="sidfishus" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>