<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/sidfishus/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="sidfishus" />
            <add key="ClearTextPassword" value="1075f9fd1e8e3c2efede3abe368fbb4f9417fa01" />
        </github>
    </packageSourceCredentials>
</configuration>