
@{/* Key for SSR to work */}
@addTagHelper *, Microsoft.AspNetCore.SpaServices

@{
    ViewData["Title"] = "Login";

    dynamic prerenderData = new
    {
    };
}

<link
  rel="stylesheet"
  href="../CSS/semantic-ui.min.css"
/>

<html>
    <body>

        <div id="react" asp-prerender-module="Server/main-server" asp-prerender-data="prerenderData"></div>

        @{
            string ssrOnly=Environment.GetEnvironmentVariable("SSR_Only");
            if(ssrOnly == null || ssrOnly=="0")
            {
                <script src="~/js/main-client.js"></script>
            }
        }

    </body>
</html>