
@{/* Key for SSR to work */}
@addTagHelper *, Microsoft.AspNetCore.SpaServices

@{
    ViewData["Title"] = "Login";

    dynamic prerenderData = new
    {
    };


#if DEBUG
    string jsClientFilename="/js/main-client-debug.js";
    string jsServerFilename="Server/main-server-debug";
    string reactElementName="reactDebug";
#else
    string jsClientFilename="/js/main-client.js";
    string jsServerFilename="Server/main-server";
    string reactElementName="react";
#endif
}

<link rel="stylesheet" href="/css/semantic.css" />
<link rel="stylesheet" href="/css/carousel.min.css"/>
<link rel="stylesheet" href="/css/demo.css"/>

<html>
    <body>

        <div id="@reactElementName" asp-prerender-module="@jsServerFilename" asp-prerender-data="prerenderData"></div>

        @{
            string ssrOnly=Environment.GetEnvironmentVariable("SSR_Only");
            if(ssrOnly == null || ssrOnly=="0")
            {
                <script src=@jsClientFilename></script>
            }
        }

    </body>
</html>