@use "../../StyleVariables.scss" as *;

//sidtodo variable for 990
@media (min-width: 990px) {
  .SixteenByNineAspectRatio {
    aspect-ratio: 16/9;
  }
}

@media (max-width: 989px) {
  .SixteenByNineAspectRatio {
    aspect-ratio: 11/16;
  }
}

.CarouselThumbnailsFile,.CarouselThumbnailsSelectedFile {
  width: 100px;

  border: white solid 1.5px;
  margin: 10px;

  cursor: pointer;

  object-fit: contain;
}

.CarouselThumbnailsSelectedFile {
  box-shadow: 0 0 0 4px $blue;
  cursor: default;
}

.CarouselImageText {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 16px;
}

.BackgroundSizeOriginalSize {
  background-size: 529px 590px;
}

.BlytheMillShedsThumbs {
  height: 100px;
}

.FishingWebAppThumbs {
  height: 100px;
}

//// Individual images
// I assume the x 0.666 is because I have my desktop resolution set to 150%.

// BMS
@media (min-width: 990px) {
  .SelectStyles {
    background-size: calc(529px * 0.666) calc(590px * 0.666);
  }
}